{% load static %}
<html>
    <head>
        <title>Pokemon Details</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        {% comment %} <link href="https://fonts.googleapis.com/css?family=Lobster&subset=latin,cyrillic" rel="stylesheet" type="text/css"> {% endcomment %}
        <link rel="stylesheet" href="{% static '/css/aplication.css' %}">
    </head>
    <body>
        <div class="page-header">
            <h1><a href="/">Pokemon</a></h1>
        </div>
    </body>
    <a href="{% url 'list_names' %}" class="btn btn-back" style="margin-left: 20px;"> Вернуться на главную </a> 

    <div class="container">
        <div class="row">
                <div class="card-about" >
                    <div class="col d-flex justify-content-center">
                    <img class="card-img-top" style="width: 200px" src={{ Pokemon.image }} alt={{ Pokemon.name }}>
                    <div class="card-body">
                        <h2> Имя: {{ Pokemon.name }}</h2>
                        <h5> Здоровье: {{ Pokemon.hp }}</h5>
                        <h5> Атака: {{ Pokemon.attack }}</h5>
                        <h5> Скорость: {{ Pokemon.speed }}</h5>
                         <a href="{% url 'fights' Pokemon.id %}" class="btn btn-primary" name="button_my"> Выбрать для обычного боя! </a> <a href="{% url 'fastfights' Pokemon.id %}" class="btn btn-primary"> Выбрать для быстрого боя! </a> 
                    </div>
                    <a href="{% url 'save_doc_about' id=Pokemon.id %}" class="btn btn-backs"> Сохранить данные о покемоне </a>
                    </div>
                    
                </div>
        </div>
    </div>



</html>