{% load static %}

<html lang="en">
    <head>
        <title>Pokemons</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        {% comment %} <link href="https://fonts.googleapis.com/css?family=Lobster&subset=latin,cyrillic" rel="stylesheet" type="text/css"> {% endcomment %}
        <link rel="stylesheet" href="{% static '/css/aplication.css' %}">
    </head>
    <body>
        <div class="page-header">
            <h1><a href="/">Pokemon</a></h1>
        </div>
        </div>
</head>
<body>

    <a href="{% url 'list_names' %}" class="btn btn-back" style="margin-left: 20px;"> Вернуться на главную </a> 
    

    <div class="header-fight">
        <h1>Fights</h1>
    </div>



    <div class="fight">
        <a href="{% url 'fights_fast' %}" class="btn btn-primary-one"> Быстрый бой </a> <a href="{% url 'fights_simple' %}" class="btn btn-primary-one"> Обычный бой </a>
    </div>


    <div class="container">
        <div class="row-fight">
                <div class="card-fight" >
                    <div class="col d-flex justify-content-center">
                    <img class="card-img-top" style="width: 150px;" src={{ enemy.image }} alt={{ enemy.name }}>
                    <div class="card-body">
                        <h4> Противник </h4>
                        <h4> {{ enemy.name }}</h4>
                        <h5> Здоровье: {{ hp_enemy }}</h5>
                        <h5> Атака: {{ attack_enemy }}</h5>
                        <h5> Скорость: {{ speed_enemy }}</h5>
                    </div>
                    </div>
                </div>

                <div class="card-fight2" >
                    <div class="col d-flex justify-content-center">
                    <img class="card-img-top" style="width: 150px;" src={{ Pokemon.image }} alt={{ Pokemon.name }}>
                        <div class="card-body">
                            <h4> Ваш покемон </h4>
                            <h4> {{ Pokemon.name }}</h4>
                            <h5> Здоровье: {{ hp }}</h5>
                            <h5> Атака: {{ attack }}</h5>
                            <h5> Скорость: {{ speed }}</h5>
                        </div>
                    </div>
                </div>
        </div>
    </div>






</body>
</html>