h1 a {
    color: #e0e3f2;
    font-family:  'Raleway',sans-serif;
    text-transform: uppercase;
}



.card {
    width: 250px;
    height: 300px;
    border: 1px solid #e0e3f2;
    border-radius: 20px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}

.card img {
    width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
  }
  
.card a {
    font-size: 18px;
    margin-left: 6px;
    margin-top: auto;
    color: #000000;
    font-family:  'Raleway',sans-serif;
  }
  
@media (min-width: 768px) {
    .card {
        width: 50%;
        height: 24%;
    }
    
    .card img {
        width: 100%;
        height: auto;
        margin-top: auto;
        margin-bottom: auto;

    }
    
    .card a {
        font-size: 18px;
        padding: 8px 1px 0;
        margin-top: auto;
    }
  }
  
@media (min-width: 992px) {
    .card {
      width: 70%;
      height: 27%;
    }
    
    .card img {
        width: 100%;
        height: auto;
        margin-top: auto;
        margin-bottom: auto;

    }
    
    .card a {
      font-size: 20px;
      padding: 10px 1px 0;
      margin-top: auto;
    }
  }
  
@media (min-width: 1200px) {
    .card {
      width: 90%;
      height: 30%;
    }
    
    .card img {
        width: 100%;
        height: auto;
        margin-top: auto;
        margin-bottom: auto;

    }
    
    .card a {
        font-size: 22px;
        padding: 10px 1px 0;
        margin-top: auto;
        
    }
  }


.page-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #5f85cb;
    margin-top: 0;
    padding: 10px 20px 10px 20px;
  
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #ffffff;
    font-size: 20pt;
    text-decoration: none;
}

.search-string {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin-top: auto;
}


.top-menu, .top-menu:hover, .top-menu:visited {
    color: #ffffff;
    float: right;
    font-size: 26pt;
    margin-right: 20px;
}



.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
}

.pagination2 {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    align-self: flex-end;
}

.count a{
    padding-left: 40px;
    color: #000000;
    font-weight: bold;
}

.btn-primary-one {
    background: #5f85cb;
    border-color: #5f85cb;
    color: #e0e3f2;
    font-family:  'Raleway',sans-serif;
    text-transform: uppercase;
    margin-right: 20px;
}

.fight {
    display: flex;
    align-items: center;
    justify-content: center;
}

.current {
    font-size: medium;
}


.btn-primary {
    background: #5f85cb;
    border-color: #5f85cb;
    color: #e0e3f2;
    font-family:  'Raleway',sans-serif;
    text-transform: uppercase;
    margin-right: 10px;
}


.btn-back {
    background: #e0e3f2;
    border-color: #5f85cb;
    color: #5f85cb;
    font-family:  'Raleway',sans-serif;
    margin-right: 10px;
}

.btn-backs {
    background: #e0e3f2;
    border-color: #5f85cb;
    color: #5f85cb;
    font-family:  'Raleway',sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}


.card-about{
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-fight{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family:  'Raleway',sans-serif;
    text-transform: uppercase;
}




.row-fight {
    display: flex;
    flex-direction: row-reverse;
    margin-top: 20px;
}

.card-fight{
    margin-left: auto;
}

.card-fight2{
    margin-right: auto;
}